/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
/* index.module.css */

.heroBanner {
  text-align: left;
  position: relative;
  overflow: hidden;
  /* background-color: #166a94;  */
  /* background-color: #1da1f2; */
  /* background-size: cover; */
  /* background-position: right; */
  height: 400px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.buttons {
  display: block;
  justify-content: center;
  position: relative;
  margin-top: 20px; /* Add spacing between title/subtitle and buttons */
}

/* Add more button styles as needed */
/* .buttons .button {
  margin: 0 10px;

} */
