/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
/* index.module.css */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  /* background-color: #166a94;  */
  /* background-color: #0671a7;  */
  background-color: #1da1f2;
  /* background-size: cover; */
  background-position: center;
  height: 400px;
}

.hero__title {
  color: #000;
}

.hero__subtitle {
  color: #333; 
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;

  }
}

.buttons {
  display: block;
  justify-content: center;
  position: relative;
  margin-top: 20px; /* Add spacing between title/subtitle and buttons */
}

/* Add more button styles as needed */
/* .buttons .button {
  margin: 0 10px;

} */
